mixin images(name, caption)
  figure
    picture
      source(srcset="/noguchi/assets/images/"+name+".jpg.webp" type="image/webp")
      source(srcset="/noguchi/assets/images/"+name+".jpg")
      img(src="/noguchi/assets/images/"+name+".jpg", alt="")
    if(caption)
      figcaption=caption
