
meta(charset='utf-8')
meta(name='viewport' content='width=device-width')
meta(name='format-detection' content='telephone=no')
title #{pageTitle}
meta(name='description' content=pageDescription)
meta(property='og:title' content=pageTitle)
meta(property='og:description' content=pageDescription)

link(rel="dns-prefetch" href="//ajax.googleapis.com")
link(rel="dns-prefetch" href="//www.youtube.com")
link(rel="dns-prefetch" href="//cdnjs.cloudflare.com")
